{% extends "blog/base.html"%}
{% block content%}
    <div class="content-section mt-2">
        <h2>Technical Fest: Tathva</h2>
        <hr>
        <p>Tathva, one of South India's biggest techno-management fests, organized by NIT Calicut, witnesses a multitude of students from all over the country.  Every year focuses on a theme according to which the events are conducted. Various pre Tathva events are conducted as part of Tathva, such as a quiz competitions and treasure hunts.</p>
        <p>"Tathva is an annual techno-management festival, organized by the National Institute of Technology Calicut at Kozhikode, in Kerala, India, in the month of September or October. It is one of the biggest technical festivals in South India.
            The festival started as a small-scale technical festival during the era of Regional Engineering Colleges (REC). It has now grown, attracting about 8,000 students in over 40 events and with prize money of around Rs. 1.4 million in 2011.
        </p>
        <p>
            Aimed at inspiring innovation, technical interest among students, and awareness among the public, the event hosts lectures, seminars, workshops, competitions, paper presentations, exhibitions, quizzes, model displays and robotics events."
            
            And then there are tathva Nites where there are singers,bands and DJs coming to perform.
        </p>
        <br>
        <h2>Cultural Fest: Ragam</h2>
        <hr>
        <p>Ragam is the annual inter-college fest conducted by the National Institute of Technology, Calicut. Ragam blends a series of fine-arts, socio-cultural and literary events, along with a variety of workshops, exhibitions and informal events. The fest attracts thousands of visitors to the campus annually, and is one of the biggest cultural fests in India.

            There are many cutural events,competitions and proshows.</p>
        
    </div>
{% endblock content %}